site_name: Nexus Mods app
site_url: https://github.com/Nexus-Mods/NexusMods.App

repo_name: Nexus-Mods/NexusMods.App
repo_url: https://github.com/Nexus-Mods/NexusMods.App

extra:
  social:
    # - icon: fontawesome/brands/twitter
    #   link: https://twitter.com/NexusSites
    - icon: fontawesome/brands/discord
      link: https://discord.gg/NexusMods
    - icon: fontawesome/brands/bluesky
      link: https://bsky.app/profile/nexusmods.com
    - icon: fontawesome/brands/tiktok
      link: https://www.tiktok.com/@nexusmodsofficial
    - icon: fontawesome/brands/twitch
      link: https://www.twitch.tv/nexusmodsofficial
    - icon: fontawesome/brands/youtube
      link: https://www.youtube.com/@NexusModsOfficial
    - icon: fontawesome/brands/instagram
      link: https://www.instagram.com/nexusmodsofficial

extra_css:
  - Nexus/Stylesheets/extra.css
  - styles.css

markdown_extensions:
  - admonition
  - tables
  - pymdownx.details
  - pymdownx.highlight
  - pymdownx.keys
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tasklist
  - def_list
  - meta
  - md_in_html
  - attr_list
  - footnotes
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

theme:
  logo: ./images/nexus-logo-white.svg
  favicon: ./images/nexus-logo-white.svg
  name: material
  palette:
    scheme: nexus-slate
  features:
    - navigation.instant
    - navigation.tabs
    - navigation.indexes
    - content.footnote.tooltips
    # - toc.integrate

plugins:
  - search
  # - open-in-new-tab
  # - social
  # - mkdocs-video

nav:
  - User Guides: 
    - Home: users/index.md
    - System Requirements: users/SystemRequirements.md
    - Getting Started: 
      - users/gettingstarted/index.md
      # - Introduction: users/gettingstarted/Introduction.md
      - Adding a Game: users/gettingstarted/AddGames.md      
      - Downloading a Mod: users/gettingstarted/DownloadAMod.md
      - Downloading a Collection: users/gettingstarted/DownloadACollection.md
    # - Mod Library: users/Library.md
      - Moving to the App: users/gettingstarted/MovingToTheApp.md
    - Features: 
      - Loadouts: users/features/Loadouts.md
      - Health Check: users/features/HealthCheck.md
      # - Global Undo: users/features/Undo.md
      - Workspaces: users/features/Workspaces.md
      - Collections: users/features/Collections.md
    - Games:
      - users/games/index.md
      - Stardew Valley: users/games/StardewValley.md
      - Cyberpunk 2077: users/games/Cyberpunk2077.md
      - Baldur's Gate 3: users/games/BaldursGate3.md
      - Bannerlord: users/games/Bannerlord.md
    - Frequently Asked Questions: 
      - users/faq/index.md
      - How to find the log files: users/faq/LogFiles.md
      - Nexus Mods Download Issues: users/faq/NexusModsDownloads.md
    - Uninstall: users/Uninstall.md
  - Developer Docs:
    - Home: developers/index.md
    - Mod With Confidence: developers/ModWithConfidence.md
    - Contributing: developers/Contributing.md
    - Development Guidelines:
        - Dependency Injection: developers/development-guidelines/DependencyInjection.md
        - Interacting with the File System: developers/development-guidelines/UsingIFileSystem.md
        - Adding a Game: developers/development-guidelines/AddingAGame.md
        - Installing Mods: developers/development-guidelines/InstallingMods.md
        - Localization and Translation: developers/development-guidelines/LocalizationAndTranslation.md
        - UI Coding Guidelines: developers/development-guidelines/UICodingGuidelines.md
        - UI Styling Guidelines: developers/development-guidelines/UIStylingGuidelines.md
        - Using Workspaces: developers/development-guidelines/UsingWorkspaces.md
        - Diagnostics: developers/development-guidelines/Diagnostics.md
        - Release Process: developers/ReleaseProcess.md

    - Decisions:
        - Backend:
            - '00: Use xxhash64': developers/decisions/backend/0000-use-xxhash64.md
            - '01: Use SQLite': developers/decisions/backend/0001-use-sqlite.md
            - '03: File Paths': developers/decisions/backend/0003-paths.md
            - '04: File System Abstraction': developers/decisions/backend/0004-file-system-abstraction.md
            - '06: File System on Absolute Paths': developers/decisions/backend/0006-file-system-on-absolute-paths.md
            - '07: Localization and Internationalisation': developers/decisions/backend/0007-localization-and-internationalisation.md
            - '08: Localization Live Update Support': developers/decisions/backend/0008-localization-live-update-support.md
            - '09: Advanced Installer Design': developers/decisions/backend/0009-advanced-installer-design.md
            - '0A: Basic & Advanced Installer Suggestions': developers/decisions/backend/0010-basic-advanced-installer-suggestions.md
            - '0B: Undo Via Event Sourcing': developers/decisions/backend/0011-undo-via-event-sourcing.md
            - '0C: Single Process Application': developers/decisions/backend/0012-single-process-application.md
            - '0D: Default Datastore Locations': developers/decisions/backend/0013-default-datastore-locations.md
            - '0E: Synchronizer Structure': developers/decisions/backend/0014-synchronizer-structure.md
            - '0F: Loadout Items': developers/decisions/backend/0015-loadout-items.md
            - '10: Disk State Storage': developers/decisions/backend/0016-disk-state-storage.md
            - '11: Garbage Collector Design': developers/decisions/backend/0017-garbage-collector-design.md
            - '12: Wine and Proton Detection Design': developers/decisions/backend/0018-running-tools-on-linux.md
            - '13: Updating Mods': developers/decisions/backend/0019-updating-mods.md
        - Frontend:
            - '01: UI Panel Layout': developers/decisions/frontend/0001-UI-Panel-Layout.md
            - '02: Workspaces': developers/decisions/frontend/0002-Workspaces.md
            - '03: UI Styling Approach': developers/decisions/frontend/0003-UI-Styling-Approach.md
            - '04: Using FlexPanel': developers/decisions/frontend/0004-Using-FlexPanel.md
        - Meeting Notes:
            - '00: Datastore Locations': developers/decisions/meeting-notes/0000-datastore-locations.md
        - Project:
            - '00: Use Decision Records': developers/decisions/project/0000-use-decision-records.md
            - '01: Use C# and .NET': developers/decisions/project/0001-use-csharp-and-dot-net.md
            - '02: Use Microsoft Dependency Injection': developers/decisions/project/0002-use-microsoft-dependency-injection.md
            - '03: Use xUnit Testing Framework': developers/decisions/project/0003-use-xunit-testing-framework.md
            - '04: Use Nominal Typing': developers/decisions/project/0004-use-nominal-typing.md
        - Templates:
            - '00: ADR Template': developers/decisions/templates/adr-template.md
        - Explanations:
            - '00: Explanation of Library Item Deletion': developers/decisions/explanations/00-library-item-removal.md
    - Concepts:
        - '00: Immutable Modlists': developers/concepts/0000-immutable-modlists.md
        - '01: DAG Sorting': developers/concepts/0001-dag-sorting.md
        - '02: Data Model Triggers': developers/concepts/0002-datamodel-triggers.md
    - Games:
        - '00: Template': developers/games/0000-Template.md
        - '01: Stardew Valley': developers/games/0001-StardewValley.md
        - '02: Cyberpunk 2077': developers/games/0002-Cyberpunk2077.md
        - '03: BaldursGate3': developers/games/0003-BaldursGate3.md
        - '04: M&B2 Bannerlord': developers/games/0004-MountAndBlade2Bannerlord.md
    - Misc:
        - About Fomod: developers/misc/AboutFomod.md
        - Comparison of File Management Systems: developers/misc/ComparisonOfFileManagementSystems.md
        - Drawbacks of Nexus App Approach: developers/misc/DrawbacksOfNexusApproach.md
        - Research:
            - '00: Update Implementation': developers/misc/research/00-update-implementation-research.md
    - Contributing to Docs: Nexus/Pages/contributing.md

validation: 
  nav:
    omitted_files: ignore
  links:
    not_found: info
