[Desktop Entry]
Type=Application
Version=1.0
Name=Nexus Mods App
GenericName=Mod Manager
Comment=Mod Manager for your games
Categories=Game
Terminal=false
StartupWMClass=NexusMods.App
MimeType=x-scheme-handler/nxm
Icon=com.nexusmods.app
Exec=${INSTALL_EXEC} %u
TryExec=${INSTALL_TRYEXEC}
X-AppImage-Integrate=true
X-AppImage-Name=NexusMods.App
X-AppImage-Arch=x86_64
