name: Clean Environment Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  draft:
    if: github.event.type == 'pull_request' && github.event.pull_request.draft == true
    runs-on: ubuntu-latest
    steps:
      - name: Fails because it's a draft PR
        run: exit 1

  build:
    if: github.ref == 'refs/heads/main' || github.event.pull_request.draft == false
    name: Test ${{ matrix.project }} (${{ matrix.os }})
    runs-on: 
       - self-hosted
       - ${{ matrix.os }}
    
    strategy:
      matrix:
        os: [Linux, Windows] # disable macos-latest for now

    steps:
      - uses: actions/checkout@v3

      # - name: Setup .NET Core SDK 7.0.x
      #  uses: actions/setup-dotnet@v3
      #  with:
      #    dotnet-version: '7.0.x'
          
      # - name: Set Permissions
      #  if: runner.os != 'Windows'
      #  run: chmod -R +x src/ArchiveManagement/NexusMods.FileExtractor/Extractors

      # - name: Clean
      #  run: dotnet clean

      - name: Build
        run: dotnet build

      - name: Tests
        run: dotnet test --no-build --filter "RequiresNetworking!=True" --collect:"XPlat Code Coverage;Format=opencover"

      - uses: codecov/codecov-action@v3
        with:
          flags: clean_environment_tests, ${{runner.os}}
          verbose: true 
