name: Clean Environment Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    
    name: Test ${{ matrix.project }} (${{ matrix.os }})
    runs-on: 
       - self-hosted
       - ${{ matrix.os }}
    
    strategy:
      matrix:
        os: [Linux, Windows] # disable macos-latest for now

    steps:
      - uses: actions/checkout@v3

      - name: Setup .NET Core SDK 7.0.x
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '7.0.x'
          
      - name: Set Permissions
        if: runner.os != 'Windows'
        run: chmod -R +x src/ArchiveManagement/NexusMods.FileExtractor/Extractors

      - name: Clean
        run: dotnet clean
      
      - name: Tests
        run: dotnet test --filter "RequiresNetworking!=True" /p:CollectCoverage=true /p:CoverletOutputFormat=opencover
      
      - uses: codecov/codecov-action@v3
        with:
          flags: clean_environment_tests, ${{runner.os}}
          verbose: true 
