name: Clean Environment Tests

on:
  push:
    branches: [ main ]
    paths:
      - ".github/workflows/clean_environment_tests.yaml"
      - "src/**"
      - "tests/**"
      - "**.props"
      - "**.targets"
  pull_request:
    branches: [ main ]
    paths:
      - ".github/workflows/clean_environment_tests.yaml"
      - "src/**"
      - "tests/**"
      - "**.props"
      - "**.targets"
    types: [ opened, synchronize, reopened, ready_for_review ]

jobs:
  draft:
    if: github.event_name == 'pull_request' && github.event.pull_request.draft == true
    runs-on: ubuntu-latest
    steps:
      - name: Fails because it's a draft PR
        run: exit 1

  build-and-test:
    if: github.event_name == 'push' || github.event.pull_request.draft == false
    uses: halgari/NexusMods.App.Meta/.github/workflows/dotnet-build-and-test.yaml@4b8ec395686e6e2e8e070670195a122995562e15
    with:
      test-filter: "RequiresNetworking!=True"
      codecov-flags: ",clean_environment_tests"
